<div id="marketplace" class="container-body" [ngStyle]="blurCss">
  <div class="page-title">
    <h1>Trading Advice</h1>
    <h5>Your Bought Advices</h5>
  </div>
  <div class="navbar">
    <a (click)="router.navigateByUrl('/advice')">Go Back</a>
  </div>
  <div class="page-body custom_scroll">
    <table>
      <thead>
        <tr>
          <th>Advisor Name</th>
          <th>Total Profit</th>
          <th>Contact Email</th>
          <th>Amount Paid</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let advice of advices">
          <td>{{advice.seller_name}}</td>
          <td>{{advice.total_profit}} %</td>
          <td>{{advice.email}}</td>
          <td>{{advice.amount_paid}} NIO</td>
          <td>{{advice.time}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>