.sidebar .links a{
    cursor: pointer;
}

.sidebar .online_light{
    width: 12px;
    height: 12px;
    position: absolute;
    background: lime;
    top: 16px;
    left: 15px;
    border-radius: 50%;
    /* border: 2px solid #fff; */
    box-shadow: 0px 0px 6px 3px lime, inset 0px 0px 13px #fff;
}
.online_light.red{
    background: red !important;
    box-shadow: 0px 0px 6px 3px rgb(255, 81, 81) !important;
}
.sidebar .translate .trans{
  width: 50px;
  height: 22px;
  position: absolute;
  background: #00ffff;
  top: 12px;
  right: 3px;
  border:0px;
  color: white;
  display: flex;
  /* padding: 12px 23px; */
  /* border-radius: 50%; */
  /* border: 2px solid #fff; */
  /* box-shadow: 0px 0px 6px 3px lime, inset 0px 0px 13px #fff; */

}
