.container-body .page-title{
    flex-direction: column;
}
.container-body .page-body{
    margin: 30px 0px;
    height: calc(100vh - 125px);
}
table{
    width:100%;
    min-width: 400px;
    border-collapse: collapse;
}
table th{
    color: var(--blue-2);
    font-size: 20px;
    text-shadow: 0px 0px 3px var(--blue-2);
    border-bottom: 1px solid var(--blue-1);
}
table th,
table td{
    padding: 15px;
    text-align: center;
}
table tbody tr:hover{
    background: var(--dark-shade-1);
}
table button.btn{
    background: var(--blue-2);
    color: var(--dark-shade-1);
    border-radius: 35px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    padding: 15px 25px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 17px;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    margin: 5px 20px;
    color: var(--blue-2);
    transition: 0.3s all cubic-bezier(0.69, -0.99, 0.38, 2.12);
    cursor: pointer;
}
.navbar a:hover{
    letter-spacing: 4px;
    color: #fff;
}


.modal_overlay{
    position: fixed;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.8);
    z-index: 999;
    transition: 0.3s all cubic-bezier(0.69, -0.99, 0.38, 2.12);
}
.modal{
    position: fixed;
    z-index: 9999;
    background:rgba(255,255,255,0.2);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 115px),-50%);
    transition: 0.3s all cubic-bezier(0.69, -0.99, 0.38, 2.12);
    max-width: 70%;
    width: 100%;
    max-height: calc(100vh - 138px);
    overflow: hidden;
}
.modal .close_modal{
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
.modal .modal_body{
    margin-top:30px;
    max-height: calc(100vh - 275px);
}
.modal .modal_body .settings{
    display: flex;
    align-items: center;
}
.modal .modal_body .frm_group_{
    display: flex;
    align-items: center;
}
.modal .modal_body .frm_group_:not(:last-child){
    margin-right: 30px;
}
.modal .modal_body .frm_group_ label{
    font-size: 14px;
    cursor: pointer;
}
.modal .modal_body .frm_group_ input[type='radio']{
    margin-right: 10px;
}

.modal form{
    padding: 10px 0px 20px 0px;
    height: 100%;
}

.modal .modal_body .flex_body{
    display: flex;
    justify-content: space-between;
}
.modal .modal_body .flex_body > div{
    flex:1;
}
.modal .modal_body .flex_body > div:not(:last-child){
    margin-right: 20px;
}

.modal .modal_body .indicators_settings{
    margin-top: 30px;
    height: 45vh;
    overflow: hidden;
    position: relative;
}
.modal .modal_body .indicators_settings:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0));
}
.modal .modal_body .indicators_settings:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0));
}

.modal .modal_body .btn_group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.modal .modal_body .btn_group .btn:not(:last-child){
    margin-right: 20px;
}


.modal .modal_body .price_box{
    padding: 20px;
    background: #fff;
    color: #1e1e1e;
    border-radius: 4px;
    margin: 15px 0px;
}

.checkbox_group{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.checkbox_group label {
    font-size: 14px;
    text-transform: none !important;
    font-weight: lighter;
    cursor: pointer;
    margin-right: 10px;
}
