<div id="marketplace" class="container-body" [ngStyle]="blurCss">
  <div class="page-title">
    <h1>Trading Advice</h1>
    <h5>Your Sold Advices</h5>
  </div>
  <div class="navbar">
    <a (click)="router.navigateByUrl('/advice')">Go Back</a>
  </div>
  <div class="page-body custom_scroll">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Total Profit</th>
          <th>Amount</th>
          <th>Total Buy</th>
          <th>Time</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let advice of advices">
          <td>{{advice.sname}}</td>
          <td>{{advice.email}}</td>
          <td>{{advice.total_profit}} %</td>
          <td>{{advice.price_usd}} USD</td>
          <td>{{advice.buy_count}}</td>
          <td>{{advice.time}}</td>
          <td class="delete">
            <i class="ion ion-trash-a" (click)="Delete(advice.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>